


<div class="row">
  <div *ngFor="let housing of filteredHousings" class="col-12 col-md-4 mb-4 text-center">
    <div style="cursor:pointer" (click)="goToHousingAccount(housing)">
      <img
        [src]="getProfilePhotoSrc(housing.profilePhoto || housing.profilePhotoUrl)"
        class="rounded-circle border border-2"
        style="width: 180px !important; height: 180px !important; object-fit: cover; box-shadow: 0 0 8px #ccc;">
      <div class="fw-bold mt-2" style="font-size: 1em;">
        {{ housing.companyName }}
      </div>
    </div>
  </div>
</div>
